/* Background */ .chroma .bg { background-color: #ffffff }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0 }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em }
/* Keyword */ .chroma .k { color: #000000; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #000000; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #000000; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #000000; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #000000; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #000000; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #445588; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #008080 }
/* NameBuiltin */ .chroma .nb { color: #0086b3 }
/* NameBuiltinPseudo */ .chroma .bp { color: #999999 }
/* NameClass */ .chroma .nc { color: #445588; font-weight: bold }
/* NameConstant */ .chroma .no { color: #008080 }
/* NameDecorator */ .chroma .nd { color: #3c5d5d; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #800080 }
/* NameException */ .chroma .ne { color: #990000; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #990000; font-weight: bold }
/* NameLabel */ .chroma .nl { color: #990000; font-weight: bold }
/* NameNamespace */ .chroma .nn { color: #555555 }
/* NameTag */ .chroma .nt { color: #000080 }
/* NameVariable */ .chroma .nv { color: #008080 }
/* NameVariableClass */ .chroma .vc { color: #008080 }
/* NameVariableGlobal */ .chroma .vg { color: #008080 }
/* NameVariableInstance */ .chroma .vi { color: #008080 }
/* LiteralString */ .chroma .s { color: #dd1144 }
/* LiteralStringAffix */ .chroma .sa { color: #dd1144 }
/* LiteralStringBacktick */ .chroma .sb { color: #dd1144 }
/* LiteralStringChar */ .chroma .sc { color: #dd1144 }
/* LiteralStringDelimiter */ .chroma .dl { color: #dd1144 }
/* LiteralStringDoc */ .chroma .sd { color: #dd1144 }
/* LiteralStringDouble */ .chroma .s2 { color: #dd1144 }
/* LiteralStringEscape */ .chroma .se { color: #dd1144 }
/* LiteralStringHeredoc */ .chroma .sh { color: #dd1144 }
/* LiteralStringInterpol */ .chroma .si { color: #dd1144 }
/* LiteralStringOther */ .chroma .sx { color: #dd1144 }
/* LiteralStringRegex */ .chroma .sr { color: #009926 }
/* LiteralStringSingle */ .chroma .s1 { color: #dd1144 }
/* LiteralStringSymbol */ .chroma .ss { color: #990073 }
/* LiteralNumber */ .chroma .m { color: #009999 }
/* LiteralNumberBin */ .chroma .mb { color: #009999 }
/* LiteralNumberFloat */ .chroma .mf { color: #009999 }
/* LiteralNumberHex */ .chroma .mh { color: #009999 }
/* LiteralNumberInteger */ .chroma .mi { color: #009999 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #009999 }
/* LiteralNumberOct */ .chroma .mo { color: #009999 }
/* Operator */ .chroma .o { color: #000000; font-weight: bold }
/* OperatorWord */ .chroma .ow { color: #000000; font-weight: bold }
/* Comment */ .chroma .c { color: #999988; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
/* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .chroma .ge { color: #000000; font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }


/* Background */ .dark .bg { color: #cad3f5; background-color: #24273a; }
/* PreWrapper */ .dark .chroma { color: #cad3f5; background-color: #24273a; }
/* Other */ .dark .chroma .x {  }
/* Error */ .dark .chroma .err { color: #ed8796 }
/* CodeLine */ .dark .chroma .cl {  }
/* LineLink */ .dark .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .dark .chroma .hl { background-color: #474733 }
/* LineNumbersTable */ .dark .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #8087a2 }
/* LineNumbers */ .dark .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #8087a2 }
/* Line */ .dark .chroma .line { display: flex; }
/* Keyword */ .dark .chroma .k { color: #c6a0f6 }
/* KeywordConstant */ .dark .chroma .kc { color: #f5a97f }
/* KeywordDeclaration */ .dark .chroma .kd { color: #ed8796 }
/* KeywordNamespace */ .dark .chroma .kn { color: #8bd5ca }
/* KeywordPseudo */ .dark .chroma .kp { color: #c6a0f6 }
/* KeywordReserved */ .dark .chroma .kr { color: #c6a0f6 }
/* KeywordType */ .dark .chroma .kt { color: #ed8796 }
/* Name */ .dark .chroma .n {  }
/* NameAttribute */ .dark .chroma .na { color: #8aadf4 }
/* NameBuiltin */ .dark .chroma .nb { color: #91d7e3 }
/* NameBuiltinPseudo */ .dark .chroma .bp { color: #91d7e3 }
/* NameClass */ .dark .chroma .nc { color: #eed49f }
/* NameConstant */ .dark .chroma .no { color: #eed49f }
/* NameDecorator */ .dark .chroma .nd { color: #8aadf4; font-weight: bold }
/* NameEntity */ .dark .chroma .ni { color: #8bd5ca }
/* NameException */ .dark .chroma .ne { color: #f5a97f }
/* NameFunction */ .dark .chroma .nf { color: #8aadf4 }
/* NameFunctionMagic */ .dark .chroma .fm { color: #8aadf4 }
/* NameLabel */ .dark .chroma .nl { color: #91d7e3 }
/* NameNamespace */ .dark .chroma .nn { color: #f5a97f }
/* NameOther */ .dark .chroma .nx {  }
/* NameProperty */ .dark .chroma .py { color: #f5a97f }
/* NameTag */ .dark .chroma .nt { color: #c6a0f6 }
/* NameVariable */ .dark .chroma .nv { color: #f4dbd6 }
/* NameVariableClass */ .dark .chroma .vc { color: #f4dbd6 }
/* NameVariableGlobal */ .dark .chroma .vg { color: #f4dbd6 }
/* NameVariableInstance */ .dark .chroma .vi { color: #f4dbd6 }
/* NameVariableMagic */ .dark .chroma .vm { color: #f4dbd6 }
/* Literal */ .dark .chroma .l {  }
/* LiteralDate */ .dark .chroma .ld {  }
/* LiteralString */ .dark .chroma .s { color: #a6da95 }
/* LiteralStringAffix */ .dark .chroma .sa { color: #ed8796 }
/* LiteralStringBacktick */ .dark .chroma .sb { color: #a6da95 }
/* LiteralStringChar */ .dark .chroma .sc { color: #a6da95 }
/* LiteralStringDelimiter */ .dark .chroma .dl { color: #8aadf4 }
/* LiteralStringDoc */ .dark .chroma .sd { color: #6e738d }
/* LiteralStringDouble */ .dark .chroma .s2 { color: #a6da95 }
/* LiteralStringEscape */ .dark .chroma .se { color: #8aadf4 }
/* LiteralStringHeredoc */ .dark .chroma .sh { color: #6e738d }
/* LiteralStringInterpol */ .dark .chroma .si { color: #a6da95 }
/* LiteralStringOther */ .dark .chroma .sx { color: #a6da95 }
/* LiteralStringRegex */ .dark .chroma .sr { color: #8bd5ca }
/* LiteralStringSingle */ .dark .chroma .s1 { color: #a6da95 }
/* LiteralStringSymbol */ .dark .chroma .ss { color: #a6da95 }
/* LiteralNumber */ .dark .chroma .m { color: #f5a97f }
/* LiteralNumberBin */ .dark .chroma .mb { color: #f5a97f }
/* LiteralNumberFloat */ .dark .chroma .mf { color: #f5a97f }
/* LiteralNumberHex */ .dark .chroma .mh { color: #f5a97f }
/* LiteralNumberInteger */ .dark .chroma .mi { color: #f5a97f }
/* LiteralNumberIntegerLong */ .dark .chroma .il { color: #f5a97f }
/* LiteralNumberOct */ .dark .chroma .mo { color: #f5a97f }
/* Operator */ .dark .chroma .o { color: #91d7e3; font-weight: bold }
/* OperatorWord */ .dark .chroma .ow { color: #91d7e3; font-weight: bold }
/* Punctuation */ .dark .chroma .p {  }
/* Comment */ .dark .chroma .c { color: #6e738d; font-style: italic }
/* CommentHashbang */ .dark .chroma .ch { color: #6e738d; font-style: italic }
/* CommentMultiline */ .dark .chroma .cm { color: #6e738d; font-style: italic }
/* CommentSingle */ .dark .chroma .c1 { color: #6e738d; font-style: italic }
/* CommentSpecial */ .dark .chroma .cs { color: #6e738d; font-style: italic }
/* CommentPreproc */ .dark .chroma .cp { color: #6e738d; font-style: italic }
/* CommentPreprocFile */ .dark .chroma .cpf { color: #6e738d; font-weight: bold; font-style: italic }
/* Generic */ .dark .chroma .g {  }
/* GenericDeleted */ .dark .chroma .gd { color: #ed8796; background-color: #363a4f }
/* GenericEmph */ .dark .chroma .ge { font-style: italic }
/* GenericError */ .dark .chroma .gr { color: #ed8796 }
/* GenericHeading */ .dark .chroma .gh { color: #f5a97f; font-weight: bold }
/* GenericInserted */ .dark .chroma .gi { color: #a6da95; background-color: #363a4f }
/* GenericOutput */ .dark .chroma .go {  }
/* GenericPrompt */ .dark .chroma .gp {  }
/* GenericStrong */ .dark .chroma .gs { font-weight: bold }
/* GenericSubheading */ .dark .chroma .gu { color: #f5a97f; font-weight: bold }
/* GenericTraceback */ .dark .chroma .gt { color: #ed8796 }
/* GenericUnderline */ .dark .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .dark .chroma .w {  }


/* /1* Background *1/ .dark .bg { color:#abb2bf;background-color:#282c34; } */
/* /1* PreWrapper *1/ .dark .chroma { color:#abb2bf;background-color:#282c34; } */
/* /1* Other *1/ .dark .chroma .x {  } */
/* /1* Error *1/ .dark .chroma .err {  } */
/* /1* CodeLine *1/ .dark .chroma .cl {  } */
/* /1* LineLink *1/ .dark .chroma .lnlinks { outline:none;text-decoration:none;color:inherit } */
/* /1* LineTableTD *1/ .dark .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; } */
/* /1* LineTable *1/ .dark .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; } */
/* /1* LineHighlight *1/ .dark .chroma .hl { background-color:#3d4148 } */
/* /1* LineNumbersTable *1/ .dark .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f } */
/* /1* LineNumbers *1/ .dark .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f } */
/* /1* Line *1/ .dark .chroma .line { display:flex; } */
/* /1* Keyword *1/ .dark .chroma .k { color:#c678dd } */
/* /1* KeywordConstant *1/ .dark .chroma .kc { color:#e5c07b } */
/* /1* KeywordDeclaration *1/ .dark .chroma .kd { color:#c678dd } */
/* /1* KeywordNamespace *1/ .dark .chroma .kn { color:#c678dd } */
/* /1* KeywordPseudo *1/ .dark .chroma .kp { color:#c678dd } */
/* /1* KeywordReserved *1/ .dark .chroma .kr { color:#c678dd } */
/* /1* KeywordType *1/ .dark .chroma .kt { color:#e5c07b } */
/* /1* Name *1/ .dark .chroma .n { color:#e06c75 } */
/* /1* NameAttribute *1/ .dark .chroma .na { color:#e06c75 } */
/* /1* NameBuiltin *1/ .dark .chroma .nb { color:#e5c07b } */
/* /1* NameBuiltinPseudo *1/ .dark .chroma .bp { color:#e06c75 } */
/* /1* NameClass *1/ .dark .chroma .nc { color:#e5c07b } */
/* /1* NameConstant *1/ .dark .chroma .no { color:#e06c75 } */
/* /1* NameDecorator *1/ .dark .chroma .nd { color:#61afef } */
/* /1* NameEntity *1/ .dark .chroma .ni { color:#e06c75 } */
/* /1* NameException *1/ .dark .chroma .ne { color:#e06c75 } */
/* /1* NameFunction *1/ .dark .chroma .nf { color:#61afef;font-weight:bold } */
/* /1* NameFunctionMagic *1/ .dark .chroma .fm { color:#56b6c2;font-weight:bold } */
/* /1* NameLabel *1/ .dark .chroma .nl { color:#e06c75 } */
/* /1* NameNamespace *1/ .dark .chroma .nn { color:#e06c75 } */
/* /1* NameOther *1/ .dark .chroma .nx { color:#e06c75 } */
/* /1* NameProperty *1/ .dark .chroma .py { color:#e06c75 } */
/* /1* NameTag *1/ .dark .chroma .nt { color:#e06c75 } */
/* /1* NameVariable *1/ .dark .chroma .nv { color:#e06c75 } */
/* /1* NameVariableClass *1/ .dark .chroma .vc { color:#e06c75 } */
/* /1* NameVariableGlobal *1/ .dark .chroma .vg { color:#e06c75 } */
/* /1* NameVariableInstance *1/ .dark .chroma .vi { color:#e06c75 } */
/* /1* NameVariableMagic *1/ .dark .chroma .vm { color:#e06c75 } */
/* /1* Literal *1/ .dark .chroma .l {  } */
/* /1* LiteralDate *1/ .dark .chroma .ld {  } */
/* /1* LiteralString *1/ .dark .chroma .s { color:#98c379 } */
/* /1* LiteralStringAffix *1/ .dark .chroma .sa { color:#98c379 } */
/* /1* LiteralStringBacktick *1/ .dark .chroma .sb { color:#98c379 } */
/* /1* LiteralStringChar *1/ .dark .chroma .sc { color:#98c379 } */
/* /1* LiteralStringDelimiter *1/ .dark .chroma .dl { color:#98c379 } */
/* /1* LiteralStringDoc *1/ .dark .chroma .sd { color:#98c379 } */
/* /1* LiteralStringDouble *1/ .dark .chroma .s2 { color:#98c379 } */
/* /1* LiteralStringEscape *1/ .dark .chroma .se { color:#98c379 } */
/* /1* LiteralStringHeredoc *1/ .dark .chroma .sh { color:#98c379 } */
/* /1* LiteralStringInterpol *1/ .dark .chroma .si { color:#98c379 } */
/* /1* LiteralStringOther *1/ .dark .chroma .sx { color:#98c379 } */
/* /1* LiteralStringRegex *1/ .dark .chroma .sr { color:#98c379 } */
/* /1* LiteralStringSingle *1/ .dark .chroma .s1 { color:#98c379 } */
/* /1* LiteralStringSymbol *1/ .dark .chroma .ss { color:#98c379 } */
/* /1* LiteralNumber *1/ .dark .chroma .m { color:#d19a66 } */
/* /1* LiteralNumberBin *1/ .dark .chroma .mb { color:#d19a66 } */
/* /1* LiteralNumberFloat *1/ .dark .chroma .mf { color:#d19a66 } */
/* /1* LiteralNumberHex *1/ .dark .chroma .mh { color:#d19a66 } */
/* /1* LiteralNumberInteger *1/ .dark .chroma .mi { color:#d19a66 } */
/* /1* LiteralNumberIntegerLong *1/ .dark .chroma .il { color:#d19a66 } */
/* /1* LiteralNumberOct *1/ .dark .chroma .mo { color:#d19a66 } */
/* /1* Operator *1/ .dark .chroma .o { color:#56b6c2 } */
/* /1* OperatorWord *1/ .dark .chroma .ow { color:#56b6c2 } */
/* /1* Punctuation *1/ .dark .chroma .p {  } */
/* /1* Comment *1/ .dark .chroma .c { color:#7f848e } */
/* /1* CommentHashbang *1/ .dark .chroma .ch { color:#7f848e } */
/* /1* CommentMultiline *1/ .dark .chroma .cm { color:#7f848e } */
/* /1* CommentSingle *1/ .dark .chroma .c1 { color:#7f848e } */
/* /1* CommentSpecial *1/ .dark .chroma .cs { color:#7f848e } */
/* /1* CommentPreproc *1/ .dark .chroma .cp { color:#7f848e } */
/* /1* CommentPreprocFile *1/ .dark .chroma .cpf { color:#7f848e } */
/* /1* Generic *1/ .dark .chroma .g {  } */
/* /1* GenericDeleted *1/ .dark .chroma .gd { color:#e06c75 } */
/* /1* GenericEmph *1/ .dark .chroma .ge {  } */
/* /1* GenericError *1/ .dark .chroma .gr {  } */
/* /1* GenericHeading *1/ .dark .chroma .gh {  } */
/* /1* GenericInserted *1/ .dark .chroma .gi { color:#98c379;font-weight:bold } */
/* /1* GenericOutput *1/ .dark .chroma .go {  } */
/* /1* GenericPrompt *1/ .dark .chroma .gp {  } */
/* /1* GenericStrong *1/ .dark .chroma .gs {  } */
/* /1* GenericSubheading *1/ .dark .chroma .gu {  } */
/* /1* GenericTraceback *1/ .dark .chroma .gt {  } */
/* /1* GenericUnderline *1/ .dark .chroma .gl {  } */
/* /1* TextWhitespace *1/ .dark .chroma .w {  } */

.dark-nope {
/* Background */ .bg { color:#e6edf3;background-color:#0d1117; }
/* PreWrapper */ .chroma { color:#e6edf3;background-color:#0d1117; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color:#f85149 }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#6e7681 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#737679 }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#6e7681 }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#ff7b72 }
/* KeywordConstant */ .chroma .kc { color:#79c0ff }
/* KeywordDeclaration */ .chroma .kd { color:#ff7b72 }
/* KeywordNamespace */ .chroma .kn { color:#ff7b72 }
/* KeywordPseudo */ .chroma .kp { color:#79c0ff }
/* KeywordReserved */ .chroma .kr { color:#ff7b72 }
/* KeywordType */ .chroma .kt { color:#ff7b72 }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color:#f0883e;font-weight:bold }
/* NameConstant */ .chroma .no { color:#79c0ff;font-weight:bold }
/* NameDecorator */ .chroma .nd { color:#d2a8ff;font-weight:bold }
/* NameEntity */ .chroma .ni { color:#ffa657 }
/* NameException */ .chroma .ne { color:#f0883e;font-weight:bold }
/* NameFunction */ .chroma .nf { color:#d2a8ff;font-weight:bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color:#79c0ff;font-weight:bold }
/* NameNamespace */ .chroma .nn { color:#ff7b72 }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py { color:#79c0ff }
/* NameTag */ .chroma .nt { color:#7ee787 }
/* NameVariable */ .chroma .nv { color:#79c0ff }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color:#a5d6ff }
/* LiteralDate */ .chroma .ld { color:#79c0ff }
/* LiteralString */ .chroma .s { color:#a5d6ff }
/* LiteralStringAffix */ .chroma .sa { color:#79c0ff }
/* LiteralStringBacktick */ .chroma .sb { color:#a5d6ff }
/* LiteralStringChar */ .chroma .sc { color:#a5d6ff }
/* LiteralStringDelimiter */ .chroma .dl { color:#79c0ff }
/* LiteralStringDoc */ .chroma .sd { color:#a5d6ff }
/* LiteralStringDouble */ .chroma .s2 { color:#a5d6ff }
/* LiteralStringEscape */ .chroma .se { color:#79c0ff }
/* LiteralStringHeredoc */ .chroma .sh { color:#79c0ff }
/* LiteralStringInterpol */ .chroma .si { color:#a5d6ff }
/* LiteralStringOther */ .chroma .sx { color:#a5d6ff }
/* LiteralStringRegex */ .chroma .sr { color:#79c0ff }
/* LiteralStringSingle */ .chroma .s1 { color:#a5d6ff }
/* LiteralStringSymbol */ .chroma .ss { color:#a5d6ff }
/* LiteralNumber */ .chroma .m { color:#a5d6ff }
/* LiteralNumberBin */ .chroma .mb { color:#a5d6ff }
/* LiteralNumberFloat */ .chroma .mf { color:#a5d6ff }
/* LiteralNumberHex */ .chroma .mh { color:#a5d6ff }
/* LiteralNumberInteger */ .chroma .mi { color:#a5d6ff }
/* LiteralNumberIntegerLong */ .chroma .il { color:#a5d6ff }
/* LiteralNumberOct */ .chroma .mo { color:#a5d6ff }
/* Operator */ .chroma .o { color:#ff7b72;font-weight:bold }
/* OperatorWord */ .chroma .ow { color:#ff7b72;font-weight:bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color:#8b949e;font-style:italic }
/* CommentHashbang */ .chroma .ch { color:#8b949e;font-style:italic }
/* CommentMultiline */ .chroma .cm { color:#8b949e;font-style:italic }
/* CommentSingle */ .chroma .c1 { color:#8b949e;font-style:italic }
/* CommentSpecial */ .chroma .cs { color:#8b949e;font-weight:bold;font-style:italic }
/* CommentPreproc */ .chroma .cp { color:#8b949e;font-weight:bold;font-style:italic }
/* CommentPreprocFile */ .chroma .cpf { color:#8b949e;font-weight:bold;font-style:italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color:#ffa198;background-color:#490202 }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr { color:#ffa198 }
/* GenericHeading */ .chroma .gh { color:#79c0ff;font-weight:bold }
/* GenericInserted */ .chroma .gi { color:#56d364;background-color:#0f5323 }
/* GenericOutput */ .chroma .go { color:#8b949e }
/* GenericPrompt */ .chroma .gp { color:#8b949e }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:#79c0ff }
/* GenericTraceback */ .chroma .gt { color:#ff7b72 }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
/* TextWhitespace */ .chroma .w { color:#6e7681 }
}
